BasedOnStyle: LLVM

ReflowComments: false
SortIncludes: false
FixNamespaceComments: false

ColumnLimit: 0
ContinuationIndentWidth: 2
PointerAlignment: Left
IndentPPDirectives: AfterHash

AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeTernaryOperators: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: No
